body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 80px;
}
.tomato{
    color: tomato;
}
.blue{
    color: rgb(27, 27, 66);
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.halfWidthIMG{
    width: 100%;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(salmon, lightSalmon);
   
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 70px;
}
p{
    font-size: 25px;
    color: slategrey;
    padding-right: 5px;
}
h2{
    font-size: 40px;
}
#download{
    height: 60px;
    width: 200px;
}
.workingProject{
    background-color: rgb(223, 234, 245);
}
#workingProjectHeader{
    text-align: center;
}