body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 80px;
}
.tomato{
    color: tomato;
}
.blue{
    color: rgb(27, 27, 66);
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.halfWidthIMG{
    width: 100%;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(salmon, lightSalmon);
   
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 70px;
}
p{
    font-size: 25px;
    color: rgb(174, 189, 204);
    padding-right: 5px;
}
h2{
    font-size: 40px;
}
#download{
    height: 15px;
    width: 25px;
}
.workingProject{
    background-color: rgb(223, 234, 245);

}
#workingProjectHeader{
    text-align: center;
}

.halfWidth_LtPr{
    background-color: snow;
    align-self: center;
    float: left;
    width: 20%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin-left: 7.8%;
    padding-left: 2%;
}
.wpIMG{
    width: 100%;
}
.liveChat{
    background-image: url("images/Group_33094_1.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    margin-left: 2.5%;
    /*padding-left: 1%;*/
    background-position: center;
}
.white{
    color: snow;
    text-align: justify;
    margin-left: 20%;
    padding-top: 7.5%;
}
#chat{
    margin-left: 70%;
    margin-top:110%;
}
#headerTeam{
    margin-left: 70px;
}
.halfWidth_team{
    background-color: rgb(161, 192, 218);
    background-image: linear-gradient();
    align-self: center;
    float: left;
    width: 20%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin-left: 7.8%;
    padding-left: 2%;
    height: 80%;
}
h4{
    text-align: center;
}
.team_H{
    font-size: 35px;
    text-align: center;
    color: rgb(18, 35, 49);
}
#mail{
    color: navy;
    text-align: center;
    font-size: 35px;
}
.footty{
    color: gray;
}
.footIMG{
    width: 20px;
    position: center;
   
}
#prothom{
    margin-left: 47%;
}